#map { 
    position: absoluta;
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}
h2{
    color: hwb(0 0% 0% / 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}